@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans Variable", sans-serif;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: hsl(var(--header-bg));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scroll-bg));
}

@layer base {
  :root {
    --color-main: 219, 100%, 94%;
    --main-accent: 27 98% 50%;
    --color-border: 0 0% 0%;
    --shadow: 4px 4px 0px 0px #000;

    --color-background: 39, 100%, 94%;
    --color-text: 0 0% 0%;
    --color-index: 100 100% 100%;

    --header-bg: 100 100% 100%;
    --scroll-bg: 0, 0%, 11%;

    --card-1: var(--color-main);
    --post-bg: var(--header-bg);
    --blog-bg: 219, 100%, 94%;
    --text-blog: 0, 0%, 22%;

    --card-border: 0, 0%, 0%;
  }

  .dark {
    --color-main: 262, 100%, 82%;
    --secondary-black: 0, 0%, 11%;

    --color-background: 0, 0%, 9%;
    --color-text: 70, 16%, 93%;
    --color-index: 0 0% 13%;

    --header-bg: 0, 0%, 11%;
    --scroll-bg: 100 100% 100%;

    --card-1: var(--color-main);
    --post-bg: 0, 0%, 13%;
    --blog-bg: var(--color-main);
    --text-blog: 0, 0%, 95%;

    --card-border: 100, 100%, 100%;
  }
}
