@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans Variable", sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: hsl(var(--header-bg));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--scroll-bg));
}

@layer base {
  :root {
    --color-main: 300, 15%, 82%;
    --main-accent: 27 98% 50%;
    --color-border: 300, 6%, 10%;
    --shadow: 4px 4px 0px 0px hsl(var(--color-border));

    --color-background: 300, 20%, 96%;
    --color-text: 266, 9%, 15%;
    --color-index: 100 100% 100%;

    /* --header-bg: 100 100% 100%; */
    --header-bg: var(--color-main);
    --buttons-bg: 100 100% 100%;;
    --scroll-bg: 0, 0%, 11%;

    --card-1: var(--color-main);
    /* --post-bg: var(--header-bg); */
    --blog-bg: 100 100% 100%;
    --text-blog: var(--color-text);

    /* projects page */
    --text-project: 0, 0%, 0%;

    --card-border: 0, 0%, 0%;
  }

  .dark {
    --color-main: 262, 100%, 82%;
    --secondary-black: 266, 9%, 15%;
    /* --color-border: 100 100% 100%; */
    /* --shadow: 4px 4px 0px 0px #f1f1f1; */

    --color-background: 300, 6%, 10%;
    --color-text: 262, 14%, 89%;
    --color-index: var(--secondary-black);

    --header-bg: var(--secondary-black);
    --buttons-bg: 100, 100%, 100%;
    --scroll-bg: 100 100% 100%;

    --card-1: var(--color-main);
    --post-bg: var(--color-index);
    --blog-bg: var(--secondary-black);
    --text-blog: 0, 0%, 95%;

    /* projects page */
    --text-project: 0, 0%, 95%;

    --card-border: 100, 100%, 100%;
  }
}
