---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mochaeng <3">
  <main class="flex min-h-screen h-full justify-center items-center">
    <h1>Hello, I'm Mochaeng</h1>
  </main>
</Layout>
