---
import Layout from "../layouts/Base.astro";
import "@fontsource/acme";

import me from "../assets/me.jpeg";
import A from "../components/ui/A.svelte";
---

<Layout title="Mochaeng <3">
  <main class="flex-1 text-text text-balance max-w-screen-xl">
    <div class="first">
      <div
        class="info w-[90%] flex flex-col items-center p-4 border-2 border-border shadow-brute rounded-base"
      >
        <h1 class="text-6xl text-center">
          <span class="presentation">
            Hi, I'm Luiz Campos.
            <span class="text-5xl font-bold">(@mochaeng)</span>
          </span>
        </h1>
        <p class="text-3xl mt-8 text-center">
          Software Developer based in Brazil, linux enjoyer, docs reader, and
          terminals lover.
        </p>
        <div class="buttons p-4 flex gap-6">
          <A className="bg-main p-3">Projects</A>
          <A className="bg-main p-3">About</A>
        </div>
      </div>
    </div>
    <div class="second">
      <img
        class="rounded-full object-contain shadow-brute"
        src={me.src}
        alt="Luna from sailor moon"
      />
    </div>
  </main>
</Layout>

<style>
  .presentation {
    font-family: "Acme", "DM Sans Variable", system-ui;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;

    .first {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .second {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 200px;
      }
    }
  }

  @media (min-width: 840px) {
    main {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 1fr;

      .first {
        .info {
          max-width: 80%;
        }
      }

      .second {
        width: 100%;
        img {
          max-width: 250px;
        }
      }
    }
  }
</style>
