---
import Layout from "../layouts/Base.astro";
---

<Layout title="Projects">
  <main class="flex flex-col justify-center items-center m-auto text-text">
    <h1 class="text-6xl">My projects</h1>
    <p class="text-4xl">Software Developer from Brazil</p>
  </main>
</Layout>
