---
import Layout from "../layouts/Base.astro";
import ProjectCard from "../components/ProjectCard.svelte";
import { projectTopics } from "../scripts/cards.ts";
---

<Layout title="Projects">
  <main
    class="flex flex-col justify-start items-center text-text mt-16 max-w-screen-xl"
  >
    {
      projectTopics.map((topic) => (
        <section class="mt-10 flex flex-col items-center justify-center p-4 gap-4 w-full text-center">
          <h1 class="text-6xl">{topic.name}</h1>
          <p class="text-xl max-w-prose">{topic.description}</p>
          <div class="mt-4 flex justify-center gap-4 flex-wrap">
            {topic.cards.map((card) => (
              <ProjectCard {card} className="bg-main text-black" />
            ))}
          </div>
        </section>
      ))
    }
  </main>
</Layout>

<style></style>
