---
import A from "./ui/A.svelte";

import github from "../assets/icons/github.svg";
import email from "../assets/icons/email.svg";
// import bluesky from "../assets/icons/bluesky.svg";
import linkedin from "../assets/icons/linkedin.svg";

const infos = [
  {
    url: "https://github.com/mochaeng",
    icon: github,
    alt: "Github Logo",
  },
  // {
  //   url: "",
  //   icon: bluesky,
  //   alt: "Bluesky Logo",
  // },
  {
    url: "https://www.linkedin.com/in/luiz-ant%C3%B4nio-4b88161b3/",
    icon: linkedin,
    alt: "Linkedin",
  },
  {
    url: "mailto:campos.antoonio@gmail.com",
    icon: email,
    alt: "Email logo",
  },
];
---

<footer class="h-20 flex w-full mb-2 pb-4 mt-4">
  <div class="flex mx-auto gap-5">
    {
      infos.map((info) => (
        <A href={info.url} target="_blank" className="p-2 h-14 ">
          <img
            class="dark:invert"
            width={34}
            src={info.icon.src}
            alt={info.alt}
          />{" "}
        </A>
      ))
    }
  </div>
</footer>
