/* @import 'tailwindcss'; */
@plugin "tailwindcss/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	/* background-color: var(--shiki-dark-bg) !important; */
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

* {
	/* font-family: 'Inter Variable', sans-serif; */
	transition:
		background-color 0.2s ease,
		color 0.2s ease;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background: hsl(var(--header-bg));
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--color-text));
}

@layer base {
	:root {
		--color-main: 220, 22%, 92%;
		--main-accent: 27 98% 50%;
		--color-border: 234, 16%, 35%;
		--shadow: 4px 4px 0px 0px hsl(var(--color-border));

		--color-background: 220, 23%, 95%;
		--color-text: 234, 16%, 35%;
		--color-index: 100 100% 100%;

		--header-bg: var(--color-main);
		--buttons-bg: var(--color-main);
		--buttons-index: 231, 97%, 72%;
		--text-button-index: var(--color-background);
		--scroll-bg: 0, 0%, 11%;

		--card-1: 220, 21%, 89%;
		--card-bg: 220, 22%, 92%;
		--post-bg: var(--header-bg);
		--blog-bg: var(--color-background);
		--text-blog: var(--color-text);

		/* projects page */
		--text-project: 0, 0%, 0%;

		--card-border: 0, 0%, 0%;
	}

	.dark {
		--color-main: 240, 21%, 12%;
		--secondary-black: 266, 9%, 15%;
		--color-border: 240, 23%, 9%;
		--shadow: 2px 2px 0px 0px hsl(var(--color-border));

		--color-background: 240, 21%, 15%;
		--color-text: 226, 64%, 88%;
		--color-index: var(--color-main);

		--header-bg: var(--color-main);
		--buttons-bg: 240, 21%, 12%;
		--buttons-index: 232, 97%, 85%;
		--text-button-index: var(--color-background);
		--scroll-bg: 100 100% 100%;

		--card-1: 228, 24%, 72%;
		--card-bg: 240, 21%, 12%;
		--post-bg: var(--color-index);
		--blog-bg: var(--secondary-black);
		--text-blog: 0, 0%, 95%;

		/* projects page */
		--text-project: 0, 0%, 95%;

		--card-border: 100, 100%, 100%;
	}
}
